block header
header.main-header
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.bg-dark.d-flex
    .container
      img(src="/svg/futbol-regular.svg", alt="" width="30" height="30").navbar-brand.bg-white
      ul.nav
        li.nav-item
          a.text-white.nav-link(href="/") Ganador
        li.nav-item
          a.text-white.nav-link(href="/2,5") +2,5
        li.nav-item
          a.text-white.nav-link(href="/G-2,5") Ganador/+2,5
        li.nav-item
          a.text-white.nav-link(href="/ambos") Ambos Marcan
        li.nav-item
          a.text-white.nav-link(href="/2,5-ambos") Ambos Marcan / +2,5
  .container
    .h4.mt-5.text-info=titulo
  if equipos.length > 0
    each equipo in equipos
      .container.h-50.rounded.border.border-dark.shadow.bg-light.mt-5.mb-5
        .row.h-100
          .col-4.h-100
            .row.h-75.d-flex.align-content-center.justify-content-center
              img.h-75(src=`${equipo.logo1}`)
            .row.h-35.d-flex.align-items-start.justify-content-center
                h3.h3=equipo.eq1
          .col-4.h-100d-inline.align-self-center.justify-content-center
            .row.h-25.d-flex.align-content-center.justify-content-center
              p.h5=equipo.liga
            .row.h-25.d-flex.align-content-center.justify-content-center
              p.h5=equipo.hora
            .row.h-25.d-flex.align-content-center.justify-content-center
              p.h6=`${'Jornada '+ equipo.jornada}`
            .row.h-25.d-flex.align-items-center.justify-content-center
              h1.display-1.text-left=equipo.ResultadoFinal1 +'-' + equipo.ResultadoFinal2
          .col-4.h-100
            .row.h-75.d-flex.align-content-center.justify-content-center
              img.mt-4.h-75(src=equipo.logo2)
            .row.h-35.d-flex.align-items-start.justify-content-center
              h3.h3=equipo.eq2
  else
    .row
      .container.d-flex.align-content-center.justify-content-center.mt-5
        .alert.alert-danger
          p.lead ooooh!!! Lo sentimos no ahi partidos para hoy. Intentalo mañana, Gracias